<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hallelujah input method preference</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div id="app">
      <form action="/" method="POST" v-on:submit.prevent="updatePreference()">
        <label>
          Show Translation:
          <input
            v-if="preference.showTranslation"
            type="checkbox"
            v-model="preference.showTranslation"
            checked
          />
          <input
            v-if="!preference.showTranslation"
            type="checkbox"
            v-model="preference.showTranslation"
          />
        </label>
        <label>
          Commit word with space:
          <input
            v-if="preference.commitWordWithSpace"
            type="checkbox"
            v-model="preference.commitWordWithSpace"
            checked
          />
          <input
            v-if="!preference.commitWordWithSpace"
            type="checkbox"
            v-model="preference.commitWordWithSpace"
          />
        </label>
        <label>
          Text Processor API URL:
          <input
            type="text"
            v-model="preference.textProcessorApiUrl"
            placeholder="http://localhost:3000/edit"
            style="width: 300px;"
          />
        </label>
        <label>
          Text Processor Timeout (seconds):
          <input
            type="number"
            v-model.number="preference.textProcessorTimeout"
            placeholder="10"
            min="1"
            max="60"
            style="width: 100px;"
          />
        </label>

        <div class="form-footer">
          <button :disabled="loading">
            {{ loading ? "loading..." : "submit" }}
          </button>
        </div>
      </form>
    </div>
    <script src="./vue.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
